<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935620278082-ikep8hpc5tg1sird7gqrs0kcv6eh7ss3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935620278082-ikep8hpc5tg1sird7gqrs0kcv6eh7ss3</string>
	<key>API_KEY</key>
	<string>AIzaSyCFR0iD3JxtV4cOZKBfpPmOedY4ZLT1YrU</string>
	<key>GCM_SENDER_ID</key>
	<string>935620278082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-da2d9</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-da2d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935620278082:ios:0c27be1eff7d8dbca3fadb</string>
</dict>
</plist>